.bpm-text {
    color: #FF9800;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: medium;
    width: 30px;
}

.bpm-slider {
    width: 50%;
}

.playback-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}