.bpm-text {
    color: #FF9800;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: medium;
}

.bpm-slider .noUi-connect {
    color: #FF9800;
    background-color: #FF9800;
}

.bpm-slider {
    width: 75%;
}

.playback-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}