.playlist-wrapper {
    display: flex;
    flex-direction: row;
    /*height: 100%;*/
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
    flex-grow: 1000;
}

.mainApp {
    flex-grow: 15;

    display: flex;
    flex-direction: column;
}

.controlBar {
    flex-grow: 0;
}