.instrument-picker-wrapper {
    flex-grow: 1;

    border-left: solid 2px #FF9800;
    border-bottom: solid 2px #FF9800;
    border-top: solid 2px #FF9800;
    border-right: solid 2px #FF9800;

    /* Flexbox */
    display:flex;
    flex-direction: column;
}

.instrument-list {
    margin:0;
    padding:0 !important;

    /* Flexbox */
    /*display: flex;*/
    /*flex-direction: column;*/
}

.instrument-picker-header-wrapper {
    background-color: #FF9800;

    /* Flexbox */
    display:flex;
    justify-content: center;
}

.instrument-picker-header-text {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 1.5em;
    border-bottom: solid 2px #FF9800;
}

.scroll-area {
    height: 480px;
    overflow: scroll;
    white-space: nowrap;
    /*flex-grow: 3;*/
}