.instrument-row-wrapper {
    /*flex-basis: 100px*/
    height: 50px;
    border-bottom: #BDBDBD 1px solid;

    /* Flexbox */
    display: flex;
    flex-direction: row;
}

.selected-item {
    background-color: #F44336;
}

.instrument-text {
    /*  Flexbox  */
    flex-grow: 10;
}

.instrument-edit-button {
    /*  Flexbox  */
    flex-grow: 0.1;
}

.instrument-delete-button {
    /*  Flexbox  */
    flex-grow: 0.1;
}